# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git

node_modules/
*.zip
*.env

# TODO remove once we switched to pnpm v8
# Temporary workaround for the following error: 
# ERR_PNPM_FROZEN_LOCKFILE_WITH_OUTDATED_LOCKFILE  Cannot perform a frozen installation because the version of the lockfile is incompatible with this version of pnpm
# We need to use pnpm v7 in ecosystem-tests for now (because it's the last version running on Node.js 14)
# Google Cloud added pnpm v8 support very recently: https://github.com/GoogleCloudPlatform/buildpacks/commit/38fa92d0d789080ecfff2afa4068b28915294960
pnpm-lock.yaml