name: invoke-platforms-lambda-function
on:
  workflow_dispatch:

jobs:
  invoke:
    runs-on: ubuntu-20.04

    defaults:
      run:
        working-directory: platforms/lambda

    env:
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ROLE: ${{ secrets.AWS_ROLE }}

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install
      - run: pnpm exec ts-node test.ts
