name: test
on: push
jobs:
  report-to-slack-success:
    runs-on: ubuntu-latest
    needs: [os, node, packagers, frameworks, platforms, bundlers, libraries]
    if: success() && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/patch-dev' || github.ref == 'refs/heads/latest')
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          version: 12

      - name: report success to slack
        run: bash .github/scripts/slack-workflow-status.sh ":white_check_mark:"
        env:
          SLACK_WEBHOOK_URL_WORKFLOWS: ${{ secrets.SLACK_WEBHOOK_URL_WORKFLOWS }}

  report-to-slack-failure:
    runs-on: ubuntu-latest
    needs: [os, node, packagers, frameworks, platforms, bundlers, libraries]
    if: failure() && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/patch-dev' || github.ref == 'refs/heads/latest')
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          version: 12

      - name: report failure to slack
        run: bash .github/scripts/slack-workflow-status.sh ":x:"
        env:
          SLACK_WEBHOOK_URL_WORKFLOWS: ${{ secrets.SLACK_WEBHOOK_URL_WORKFLOWS }}

  os:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          version: 12

      - name: test on ${{ matrix.os }}
        run: bash .github/scripts/test-project.sh generic basic ${{ matrix.os }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          OS_BASE_PG_URL: ${{ secrets.OS_BASE_PG_URL }}

  node:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node:
          - 10
          - 12
          - 14

    name: node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v1

      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: test on node ${{ matrix.node }}
        run: bash .github/scripts/test-project.sh generic basic "node ${{ matrix.node }}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          OS_BASE_PG_URL: ${{ secrets.OS_BASE_PG_URL }}

  binaries:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          version: 12

      - name: test on ${{ matrix.os }}
        run: bash .github/scripts/test-project.sh binaries pkg ${{ matrix.os }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          OS: ${{ matrix.os }}

  packagers:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        packager:
          - yarn
          - npm
          - yarn-workspaces

    steps:
      - uses: actions/checkout@v1

      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: packager ${{ matrix.packager }}
        run: bash .github/scripts/test-project.sh packagers ${{ matrix.packager }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          PACKAGERS_NPM_PG_URL: ${{ secrets.PACKAGERS_NPM_PG_URL }}
          PACKAGERS_YARN_PG_URL: ${{ secrets.PACKAGERS_YARN_PG_URL }}
          PACKAGERS_YARN_WORKSPACES_PG_URL: ${{ secrets.PACKAGERS_YARN_WORKSPACES_PG_URL }}

  frameworks:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        framework:
          - nestjs
          - nextjs
          - nexus

    steps:
      - uses: actions/checkout@v1

      - name: use node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: framework ${{ matrix.framework }}
        run: bash .github/scripts/test-project.sh frameworks ${{ matrix.framework }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          FRAMEWORK_NEXTJS_PG_URL: ${{ secrets.FRAMEWORK_NEXTJS_PG_URL }}
          FRAMEWORK_NESTJS_PG_URL: ${{ secrets.FRAMEWORK_NESTJS_PG_URL }}
          FRAMEWORK_NEXUS_PG_URL: ${{ secrets.FRAMEWORK_NEXUS_PG_URL }}

  platforms:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        platform:
          - lambda
          - heroku
          - vercel-node-builder
          - vercel-api
          - netlify-current-cli
          - netlify-beta-ci
          - gcp-functions
          - codesandbox
          - firebase-functions
          - azure-functions-linux
          - azure-functions-windows

    steps:
      - uses: actions/checkout@v1

      - name: use node 10
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install Puppeteer
        uses: ianwalter/puppeteer@v2.0.0
        with:
          args: yarn

      - name: test ${{ matrix.platform }}
        uses: nick-invision/retry@v1
        with:
          timeout_minutes: 60
          max_attempts: 3
          command: bash .github/scripts/test-project.sh platforms ${{ matrix.platform }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          CI: 1
          SSH_KEY_NETLIFY: ${{ secrets.SSH_KEY_NETLIFY }}
          SSH_KEY_NETLIFY_ZISI: ${{ secrets.SSH_KEY_NETLIFY_ZISI }}
          GCP_FUNCTIONS_PG_URL: ${{ secrets.GCP_FUNCTIONS_PG_URL }}
          GCP_FUNCTIONS_PROJECT: ${{ secrets.GCP_FUNCTIONS_PROJECT }}
          GCP_FUNCTIONS_ACCOUNT: ${{ secrets.GCP_FUNCTIONS_ACCOUNT }}
          GCP_FUNCTIONS_SECRET: ${{ secrets.GCP_FUNCTIONS_SECRET }}
          NETLIFY_PG_URL: ${{ secrets.NETLIFY_PG_URL }}
          NETLIFY_ZISI_PG_URL: ${{ secrets.NETLIFY_ZISI_PG_URL }}
          LAMBDA_PG_URL: ${{ secrets.LAMBDA_PG_URL }}
          HEROKU_PG_URL: ${{ secrets.HEROKU_PG_URL }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          NPM_CONFIG_LOGLEVEL: error
          NODE_ENV: development
          NODE_MODULES_CACHE: false
          NODE_VERBOSE: true
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ROLE: ${{ secrets.AWS_ROLE }}
          VERCEL_NODE_BUILDER_NOW_PG_URL: ${{ secrets.VERCEL_NODE_BUILDER_NOW_PG_URL }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          NETLIFY_BETA_PG_URL: ${{ secrets.NETLIFY_BETA_PG_URL }}
          NETLIFY_BUILD_LIFECYCLE_TRIAL: ${{ secrets.NETLIFY_BUILD_LIFECYCLE_TRIAL }}
          AZURE_FUNCTIONS_LINUX_PG_URL: ${{ secrets.AZURE_FUNCTIONS_LINUX_PG_URL }}
          AZURE_FUNCTIONS_WINDOWS_PG_URL: ${{ secrets.AZURE_FUNCTIONS_WINDOWS_PG_URL }}
          AZURE_SP_TENANT: ${{ secrets.AZURE_SP_TENANT }}
          AZURE_SP_PASSWORD: ${{ secrets.AZURE_SP_PASSWORD }}
          AZURE_SP_NAME: ${{ secrets.AZURE_SP_NAME }}
          FIREBASE_FUNCTIONS_PG_URL: ${{ secrets.FIREBASE_FUNCTIONS_PG_URL }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

  bundlers:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        bundler:
          - webpack
          - parcel
          - rollup

    name: bundler ${{ matrix.bundler }}
    steps:
      - uses: actions/checkout@v1

      - name: use node 10
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: test ${{ matrix.bundler }}
        run: bash .github/scripts/test-project.sh bundlers ${{ matrix.bundler }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          WEBPACK_PG_URL: ${{ secrets.WEBPACK_PG_URL }}
          PARCEL_PG_URL: ${{ secrets.PARCEL_PG_URL }}
          ROLLUP_PG_URL: ${{ secrets.ROLLUP_PG_URL }}

  libraries:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        library:
          - express
          - apollo-server
          - type-graphql

    name: library ${{ matrix.library }}
    steps:
      - uses: actions/checkout@v1

      - name: use node 10
        uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: test ${{ matrix.library }}
        run: bash .github/scripts/test-project.sh libraries ${{ matrix.library }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          LIBRARY_EXPRESS_PG_URL: ${{ secrets.LIBRARY_EXPRESS_PG_URL }}
          LIBRARY_APOLLO_SERVER_PG_URL: ${{ secrets.LIBRARY_APOLLO_SERVER_PG_URL }}
          LIBRARY_TYPE_GRAPHQL_PG_URL: ${{ secrets.LIBRARY_TYPE_GRAPHQL_PG_URL }}

  databases:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        database:
          - digitalocean-pgbouncer
          - docker-pgbouncer
          - heroku-pgbouncer
          - heroku-pgbouncer-buildpack

    name: databases ${{ matrix.database }}
    steps:
      - uses: actions/checkout@v1

      - name: use node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: test ${{ matrix.database }}
        run: bash .github/scripts/test-project.sh databases ${{ matrix.database }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_URL_FAILING: ${{ secrets.SLACK_WEBHOOK_URL_FAILING }}
          DATABASE_DO_PG_BOUNCER_URL: ${{ secrets.DATABASE_DO_PG_BOUNCER_URL }}
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          DATABASE_HEROKU_PGBOUNCER_URL: ${{ secrets.DATABASE_HEROKU_PGBOUNCER_URL }}
